/* productsShowcase.module.css */
.textBannerTitle {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 600;
}

.imgLinkContainer1 img,
.imgLinkContainer2 img,
.imgLinkContainer3 img,
.imgLinkContainer4 img,
.imgLinkContainer5 img,
.imgLinkContainer6 img,
.imgLinkContainer7 img,
.imgLinkContainer8 img,
.imgLinkContainer9 img,
.imgLinkContainer10 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgLinkContainer2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.imgLinkContainer3,
.imgLinkContainer5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.imgLinkContainer1,
.imgLinkContainer4,
.imgLinkContainer6,
.imgLinkContainer7,
.imgLinkContainer8,
.imgLinkContainer9,
.imgLinkContainer10 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}