.navbar {
  position: sticky;
  top: 0;
  border: none;
  /* width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  z-index: 100;
}

/* Reset and general styles */
* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

/* Header styles */
header {
  display: flex;
  background-color: #ffffff;
  height: 80px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}

.myntra_home {
  height: 45px;
}

.logo_container {
  margin-left: 4%;
}

.action_bar {
  margin-right: 4%;
}

.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.nav_bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #ffffff;
  position: relative;
}

.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 9px;
  background-color: white;
  position: absolute;
  top: 20px;
  right: -21px;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_item {
  position: relative;
  padding: 28px 0;
}

.nav_item .hover_menu {
  display: none;
}

.nav_item:hover .hover_menu {
  display: block;
}

.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.hover_menu {
  position: fixed;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #b6b1b1;
  width: 700px;
  padding: 20px;
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.try-on-link {
  display: flex;
  align-items: center;
  position: relative;
}

.tryon_img {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.tryon_logo {
  height: 26px;
  width: 34px;
}

.tryon_heading {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tryon_btn {
  height: 40px;
  width: 180px;
  align-self: center;
  color: black;
  background-color: white;
  border: 2px solid rgb(180, 179, 179);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.tryon_p {
  font-size: 14px;
  color: rgb(130, 124, 124);
  text-align: center;
  padding: 10px 0;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: black;
  font-size: large;
}

.profilesection:hover {
  border-bottom: 4px solid #f54e77;
}

.bag {
  margin-top: 16px;
}

.profile_hover {
  position: absolute;
  top: 77px;
  right: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
}